<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Welcome to Our Deployment Project</h1>
    <p>A sample site deployed using Docker on Proxmox VM</p>

    <div style="text-align: center;">
        <a class="button" href="/about">Learn About Us</a>
    </div>
</div>

<footer>
    &copy; 2025 Hassan Ali & Fahad Sajid | All rights reserved.
</footer>

</body>
</html>
